

with [tslearn](https://tslearn.readthedocs.io/en/stable/index.html) time series library.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Capture data from "Trace".

In [2]:
from tslearn.datasets import CachedDatasets
X_train, y_train, X_test, y_test = CachedDatasets().load_dataset("Trace")

/Users/jpinney/opt/anaconda3/envs/cern/lib/python3.8/site-packages/tslearn/bases/bases.py:15: UserWarning: h5py not installed, hdf5 features will not be supported.
Install h5py to use hdf5 features: http://docs.h5py.org/
  warn(h5py_msg)

In [23]:
dfs = []
for i in range(len(X_train)):
    dfs.append( pd.DataFrame(X_train[i]).T )

In [31]:
features = pd.concat(dfs).reset_index(drop=True)
features.head()

,0,1,2,3,4,5,6,7,8,9,...,265,266,267,268,269,270,271,272,273,274
0,0.54407,0.65786,0.61124,0.54541,0.53216,0.59301,0.59528,0.53828,0.56343,0.59596,...,0.58823,0.57789,0.59807,0.58369,0.60288,0.55426,0.51415,0.60377,0.59633,0.58322
1,0.76643,0.62463,0.74225,0.66822,0.76612,0.73068,0.65511,0.72933,0.72365,0.70282,...,0.68619,0.68500,0.65401,0.68998,0.64181,0.67280,0.61673,0.72218,0.66786,0.72445
2,-2.04500,-2.09170,-2.07760,-2.03350,-1.99020,-2.05770,-2.01280,-2.05100,-2.05530,-2.07600,...,0.55547,0.52443,0.48541,0.55053,0.59755,0.60643,0.52293,0.52429,0.54742,0.57056
3,-1.70500,-1.73910,-1.72570,-1.80170,-1.74250,-1.76040,-1.69160,-1.68750,-1.76150,-1.77480,...,0.64928,0.64069,0.62599,0.61621,0.61688,0.65652,0.59599,0.60164,0.65616,0.58226
4,0.54137,0.57191,0.56215,0.52095,0.52749,0.60404,0.54052,0.58038,0.50058,0.59781,...,0.58600,0.62647,0.60962,0.55428,0.53947,0.53352,0.55775,0.50783,0.51377,0.52813

In [32]:
target = pd.DataFrame(y_train,columns=['label'])
target.head()

   label
0      1
1      2
2      4
3      3
4      1

In [34]:
output = pd.concat([target, features], axis=1)
output.head()

,label,0,1,2,3,4,5,6,7,8,...,265,266,267,268,269,270,271,272,273,274
0,1,0.54407,0.65786,0.61124,0.54541,0.53216,0.59301,0.59528,0.53828,0.56343,...,0.58823,0.57789,0.59807,0.58369,0.60288,0.55426,0.51415,0.60377,0.59633,0.58322
1,2,0.76643,0.62463,0.74225,0.66822,0.76612,0.73068,0.65511,0.72933,0.72365,...,0.68619,0.68500,0.65401,0.68998,0.64181,0.67280,0.61673,0.72218,0.66786,0.72445
2,4,-2.04500,-2.09170,-2.07760,-2.03350,-1.99020,-2.05770,-2.01280,-2.05100,-2.05530,...,0.55547,0.52443,0.48541,0.55053,0.59755,0.60643,0.52293,0.52429,0.54742,0.57056
3,3,-1.70500,-1.73910,-1.72570,-1.80170,-1.74250,-1.76040,-1.69160,-1.68750,-1.76150,...,0.64928,0.64069,0.62599,0.61621,0.61688,0.65652,0.59599,0.60164,0.65616,0.58226
4,1,0.54137,0.57191,0.56215,0.52095,0.52749,0.60404,0.54052,0.58038,0.50058,...,0.58600,0.62647,0.60962,0.55428,0.53947,0.53352,0.55775,0.50783,0.51377,0.52813

In [35]:
output.to_csv('trace.csv',index=False)